{% extends "layout.html" %}

{% block title %}
    Add
{% endblock %}

{% block main %}
<form class="form-group jumbotron jumbotron-fluid "  action="/add" method="post">
    <div class="form-group mx-sm-3">
        <label for="inputName">Name</label>
        <input type="text" autocomplete="off" autofocus name="name" class="form-control" id="inputName" placeholder="Name">
    </div>
    <div class="form-group mx-sm-3">
        <label for="inputPhone">Phone</label>
        <input type="tel" autocomplete="off" name="phone" class="form-control" id="inputPhone" placeholder="Phone">
    </div>
    <div class="form-group mx-sm-3">
        <label for="inputEmail4">Email</label>
        <input type="email" autocomplete="off" name="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>
    <button type="submit" class="btn btn-dark">Add</button>
</form>
{% endblock %}
